#title {
  font-family: sans-serif;
  font-size: 80px;
  margin-top: 40px;
  margin-left: 40px;
}

#container {
  display: flex;
  gap: 120px;
  padding: 40px;
}

#game-flow {
  font-family: sans-serif;
  font-size: 40px;
  margin-left: 40px;
}

.board {
  height: 500px;
  width: 500px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.coordinate {
  border-style: dotted;
  border-width: thin;
  border-color: black;
}

.ship {
  background-color: rgb(55, 0, 255);
}
